@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #1d1d1d;
  @apply text-zinc-300;
}
html {
  min-height: 100%;
  margin: 0;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}
